@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.22'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
@media (min-width: 1024px){
    .container{
        max-width: 12000px !important;
    }}
@font-face {
    font-family: "LoveloLineBold";
    src: url(../fonts/LoveloLineBold.otf) format("truetype");
    }
@font-face {
        font-family: "LoveloLineLight";
        src: url(../fonts/LoveloLineLight.otf) format("truetype");
        }
@font-face {
            font-family: "LoveloBlack";
            src: url(../fonts/LoveloBlack.otf) format("truetype");
            }
    
    .font-lovelo-line-bold{
        font-family: "LoveloLineBold";
    }
    .font-lovelo-line-light{
        font-family: "LoveloLineLight";
    }
    .font-lovelo-black{
        font-family: "LoveloBlack";
    }